<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Editar Cliente</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
</head>

<body>

    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo">
                                <a href="/">
                                    <img th:src="@{/img/logo.png}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div class="main-menu">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="#">Clientes<i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a th:href="@{/listarClientes}">lista de Clientes</a></li>
                                                <li><a th:href="@{/newClientes}">agregar Clientes</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Productos<i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a th:href="@{/listarProductos}">lista de Productos</a></li>
                                                <li><a th:href="@{/newProductos}">agregar Producto</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Presupuestos<i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a th:href="@{/listarPresupuestos}">lista de Presupuestos</a></li>
                                                <li><a th:href="@{/newPresupuestos}">agregar Presupuestos</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Facturas<i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a th:href="@{/listarFacturas}">lista de Facturas</a></li>
                                                <li><a th:href="@{/newFacturas}">agregar Facturas</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Proveedores<i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a th:href="@{/listarProveedores}">lista de Proveedores</a></li>
                                                <li><a th:href="@{/newProveedores}">agregar Proveedor</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Compra de Proveedores<i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a th:href="@{/listarCompraProveedor}">lista de Compras</a></li>
                                                <li><a th:href="@{/newCompraProveedor}">agregar Compra</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->


    <!-- ================ contact section start ================= -->
    <section class="contact-section">
            <div class="container">    
    
                <div class="row">
                    <div class="col-12">
                        <h2 class="contact-title">Editar Clientes</h2>
                    </div>
                    <div class="col-lg-8">
                        <form class="form-contact contact_form" th:action="@{/saveClientes}" th:object="${cliente}" method="POST" >
                            <div class="row">
                            	<div class="col-sm-6">
                                    <div class="form-group">
                                        <input th:field="*{id}" class="form-control valid" placeholder="id">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input required th:field="*{Nombre}" class="form-control valid" placeholder="Nombre">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input required th:field="*{Apellido1}" class="form-control valid" placeholder="Apellido Paterno">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input required th:field="*{Apellido2}" class="form-control valid" placeholder="Apellido Materno">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input required th:field="*{DniNif}" class="form-control valid" placeholder="DNI">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input required th:field="*{CodigoPostal}" class="form-control valid" placeholder="Codigo Postal">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input required th:field="*{TelefonoFijo}" class="form-control valid" placeholder="Telefono Fijo">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input required th:field="*{TelefonoMovil}" class="form-control valid" placeholder="Telefono Movil">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input required th:field="*{Email}" class="form-control valid" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="submit" class="button button-contactForm boxed-btn" value="Guardar"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    <!-- ================ contact section end ================= -->
    

       <!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
    </body>
    
    </html>