<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>euromodul</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

</head>

<body>
   <ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#">Inicio</a>
  </li>
  <li class="nav-item">
    <a th:href="@{/listarClientes}">lista de Clientes</a>
  </li>
  <li class="nav-item">
    <a th:href="@{/listarProductos}">lista de Productos</a>
  </li>
<li class="nav-item">
    <a th:href="@{/listarPresupuestos}">lista de Presupuestos</a>
  </li>
  <li class="nav-item">
    <a th:href="@{/listarFacturas}">lista de Facturas</a>
  </li>
  <li class="nav-item">
    <a th:href="@{/listarProveedores}">lista de Proveedores</a>
  </li>
  <li class="nav-item">
    <a th:href="@{/listarCompraProveedor}">lista de Compra de proveedores</a>
  </li>
</ul>
    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="slider_text ">
                            <span>Proyecto Final.</span>
                            <h3> Conexión de Tablas y REST de Empresa EUROmodul.</h3>
                            <p>Integrantes:<br>                                
                                Cladezani Ccahua Quispe<br>
                                Fiorella Jhoselly Pariona Gonzales<br>
                                Diego Manuel Gutierrez Tafur</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
    

    <div data-scroll-index='1' class="make_donation_area section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb-55">
                        <h3><span>Gracias</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
    <!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
</body>

</html>